* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Sail"; */
    /* font-family: "Jost", sans-serif; */
  }

  html {
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
  }

  /* Top Banner Starts Here */
  .top-banner-bg{
    /* background-image: url("../images/bg.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .top-banner{
    /* padding: 2rem 0; */
    padding: 0;
  }
  
  /* Navbar Styling Starts Here */
  /* nav {
    padding: 0 !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
    z-index: 100;
    border-bottom: 1px solid #d3d3d33b;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff !important;
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-link,
  .navbar-brand,
  .navbar-toggler-icon {
    color: #000 !important;
    font-weight: 600;
    font-size: 1rem;
  }
  .nav-item {
    padding: 1.8rem 0 1.3rem 0;
    margin: 0 0.5rem;
    transition: all 0.1s ease;
  }
  .nav-item.active,  .nav-item:hover{
    border-bottom: 4px solid #666f52;
    border-radius: 4px;
  }
  .navbar-nav .nav-link:hover {
    color: #666f52 !important;
  }

  .nav-icon i{
    font-size: 1.3rem;
    color: #000;
  }
  .nav-icon i:first-child{
    margin-right: 0.5rem;
  }
  
  @media screen and (max-width: 992px) {
    nav {
      padding: 1rem 0 !important;
    }
    .navbar-nav {
      justify-content: flex-start !important;
      text-align: left !important;
    }
  }
  
  @media screen and (max-width: 650px) {
    nav {
      padding: 0.8rem 0 !important;
    }
    .nav-item {
        text-align: center;
      }
      .nav-icon {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
      }
      .nav-icon i:first-child{
        margin-right: 0;
  }
} */
 nav{
  padding-top: 0.7rem;
  display: flex;
  justify-content: center;
 }
  /* Navbar Styling Ends Here */
  
  /* Banner Content Starts Here */
  .banner-content{
    display: flex;
    justify-content: space-between;
  }
  .banner-content .banner-left{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-content .banner-left h3{
    font-family: "Sail";
    color: #666f52;
    border: 1px solid #666f52;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    opacity: 0;
    transform: translateY(80px);
  }
  .banner-content .banner-left h1{
    font-family: "Sail";
    color: #000;
    font-size: 2.8rem;
    text-align: center;
    opacity: 0;
    transform: translateY(80px);
  }
  .banner-content .banner-left p{
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
    opacity: 0;
    transform: translateY(80px);
  }
  .banner-content .banner-left img{
    width: 200px;
    margin-top: 0;
    opacity: 0;
    scale: 0;
  }
  .banner-content .banner-right{
    width: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-content .banner-rounded-img img{
    border-radius: 50%;
    position: absolute;
    width: 130px;
  }
  .banner-content #banner-rounded-img-1{
    top: 0;
    left: 6rem;
    z-index: 5;
    opacity: 0;
  }
  .banner-content #banner-rounded-img-2{
    bottom: 5rem;
    right: 6.5rem;
    z-index: 5;
    opacity: 0;
  }
  .banner-content .banner-pill-img{
    border-top-left-radius: 13rem;
    border-top-right-radius: 13rem;
    border-bottom-left-radius: 13rem;
    border-bottom-right-radius: 13rem;
    overflow: hidden;
    margin-top: -5rem;
  }
  .banner-content .banner-pill-img img{
    scale: 1;
    width: 300px;
  }
  .banner-content .banner-flower img{
    position: absolute;
  }
  .banner-content .banner-flower #banner-flower-1{
    top: 3rem;
    right: 2rem;
    z-index: -1;
    width: 200px;
  }
  .banner-content .banner-flower #banner-flower-2{
    bottom: 4rem;
    left: 3rem;
    width: 220px;
    transform: rotate(-15deg);
  }
  .banner-content .banner-wave img{
    position: absolute;
  }
  .banner-content .banner-wave #banner-wave-1{
    top: 3rem;
    left: 10rem;
    width: 200px;
  }
  .banner-content .banner-wave #banner-wave-2{
    bottom: 7rem;
    left: 13rem;
    width: 200px;
  }
  /* Banner Content Ends Here */
  /* Top Banner Ends Here */

  /* Couple Section Starts Here */
  .couple-bg{
     /* background-image: url("../images/bg.jpg"); */
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     overflow: hidden;
     margin-top: -2rem;
  }
  .couple{
     /* padding: 5rem 0; */
     min-height: 160vh;
     display: flex;
     align-items: center;
     position: relative;
  }
  .couple .center-line-box{
    width: 85%;
     padding: 3rem 0;
     /* background-color: #000; */
     margin-left: 7.5%;
     position: relative;
  }
  .couple .center-line-box .line{
     width: 100%;
     min-height: 7px;
     background-color: #a6aa9c;
     border-radius: 5px;
  }
  .couple .center-line-box .ball{
     width: 3.8rem;
     height: 3.8rem;
     border-radius: 50%;
     position: absolute;
  }
  .couple .center-line-box #left-ball{
    top: 1.1rem;
    left: 0;
    background-color: #e5d1c6;
    border: 0.5rem solid #faf2ef;
  }
  .couple .center-line-box #right-ball{
    top: 1.1rem;
    right: 0;
    background-color: #667151;
    border: 0.5rem solid #f1f3f1;
  }

  .bride-groom{
    position: absolute;
    background-color: #5e5e5ec4;
  }
  .bride-groom{
    position: absolute;
    width: 100%;
    top: 35vh;
    left: 0;
    background-color: #5e5e5ec4;
  }
  .bride-groom #bride-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 400px;
  }
  .bride-groom #groom-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 400px;
  }

  .couple-desc{
    padding: 4rem 3.5rem;
    text-align: center;
    max-width: 550px;
    margin: auto;
    position: absolute;
  }
  .couple-desc h1{
    font-family: "Sail";
    color: #000;
    font-size: 2.8rem;
  }
  .couple-desc p{
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .couple-desc i{
    margin: 0 7px;
    color: #666f52;
  }

  #couple-desc-1{
    top: 6rem;
    right: 0;
    border-radius: 56% 44% 51% 49% / 44% 50% 50% 56%;
    /* background-color: #f1f3ee;
    border: 0.3rem solid #a4a89d; */
    background-color: #faf2ef;
    border: 0.3rem solid #e5d2c8;
  }
  #couple-desc-2{
    bottom: 6.5rem;
    left: 0;
    border-radius: 56% 44% 60% 40% / 26% 29% 71% 74%;
    background-color: #faf2ef;
    border: 0.3rem solid #e5d2c8;
    display: none;
  }
  /* Couple Section Ends Here */

  /* Our Story Section Starts Here */
  .our-story-bg{
    background-color: #f1f3ee;
    overflow: hidden;
    position: relative;
    margin-top: -17rem;
  }
  .our-story{
    padding: 7rem 0 10rem 0;
  }

  .our-story #floating-dots{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0px);
    transform: translatex(0);
  }
  .our-story #white-leaf-1{
    position: absolute;
    top: 9%;
    left: 0;
  }
  .our-story #white-leaf-2{
    position: absolute;
    bottom: 1%;
    left: 0;
  }
  .our-story #white-leaf-3{
    position: absolute;
    top: 32%;
    right: 0;
  }

  .our-story .story-head{
    text-align: center;
  }
  .our-story .story-head h4{
    font-family: "Jost", sans-serif;
    color: #dbbead;
    font-size: 2rem;
  }
  .our-story .story-head h1{
    font-family: "Sail";
    color: #000;
    font-size: 3.2rem;
    margin-top: 0.5rem;
  }
  .our-story .story-card{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 4rem;
  }
  .story-card .story-card-left{
    width: 49.5%;
    background-color: #fff;
    padding: 1.8rem;
  }
  .story-card .story-card-left img{
    width: 100%;
  }
  .story-card .story-card-right{
    width: 49.5%;
    background-color: #fff;
    padding: 1.8rem 5rem;
    position: relative;
  }
  .story-card .story-card-right h2{
    font-family: "Sail";
    color: #000;
    font-size: 2.5rem;
    margin-top: 8rem;
  }
  .story-card .story-card-right p{
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
    font-size: 1.15rem;
  }
  .story-card .story-card-right .sticky-note{
    position: absolute;
    top: 0;
    right: 4rem;
    transform: rotate(10deg);
  }
  .story-card .sticky-note .note-head{
    width: 100%;
    min-height: 1.7rem;
    background-color: #e7d0c8;
  }
  .story-card .sticky-note .note-body{
    background-color: #faf2ef;
    padding: 1rem 1.7rem;
  }
  .story-card .sticky-note .note-body h5{
    font-family: "Sail";
    font-size: 2.2rem;
    text-align: center;
    margin: 0;
    color: #635a52;
  }
  .story-card #pin-image{
    position: absolute;
    top: -1.4rem;
    right: 7rem;
  }

  .story-card .ring-line{
    position: absolute;
    top: 0;
    left: 48.49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  #story-card-2 .story-card-right{
    text-align: right;
  }

  #sticky-note-2{
    width: fit-content;
    left: 4rem;
    transform: rotate(-10deg);
  }
  
  #pin-image-2{
    position: absolute;
    top: -1.4rem;
    left: 7rem;
  }
  /* Our Story Section Ends Here */

  /* Slider Section Starts Here */
  .slider{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(241,243,238,1) 10%, rgba(255,255,255,0) 100%);
    padding-bottom: 5rem;
  }
  .slider .slider-card{
    width: 20%;
    overflow: hidden;
    position: relative;
    border: 1rem solid #fff;
    transform: translateY(0);
  }
  .slider .slider-card img{
    width: 100%;
  }
  .slider .slider-card .card-overlay{
    width: 92%;
    height: 94%;
    margin: 4% 4%;
    background-color: #ffffff75;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0;
    transition: all 0.3s ease;
  }
  .slider .slider-card .card-overlay img{
    width: 25px;
  }
  
  /* Slider Section Ends Here */


  /* Impotant Persons Section Start Here */
  .persons{
    padding: 2rem 0;
    overflow: hidden;
  }
  .persons-head{
    text-align: center;
  }
  .persons-head h4{
    font-family: "Jost", sans-serif;
    color: #dbbead;
    font-size: 1.8rem;
  }
  .persons-head h1{
    font-family: "Sail";
    color: #000;
    font-size: 3.2rem;
    margin-top: 0.5rem;
  }

  .person-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.5rem;
  }
  .person-row .person-card{
    width: 23%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .person-row .person-card h2{
    font-family: "Sail";
    color: #000;
    font-size: 2.3rem;
    margin-top: 1.5rem;
  }
  .person-row .person-card p{
    font-family: "Jost", sans-serif;
    color: #dab098;
    font-size: 1.45rem;
    margin-top: 0.5rem;
  }

  #person-card-1 img{
    border-radius: 41% 59% 33% 67% / 35% 47% 53% 65%;
    border: 0.3rem solid #b5b8ad;
  }
  #person-card-2 img{
    border-radius: 50% 50% 42% 58% / 69% 70% 30% 31%;
    border: 0.3rem solid #dbbead;
  }
  #person-card-3 img{
    border-radius: 63% 37% 66% 34% / 29% 30% 70% 71%;
    border: 0.3rem solid #b5b8ad;
  }
  #person-card-4 img{
    border-radius: 48% 52% 15% 85% / 46% 44% 56% 54%;
    border: 0.3rem solid #dbbead;
  }
  /* Impotant Persons Section End Here */

  /* Our Wedding Section Starts Here */
  .our-wedding{
    padding: 4rem 0;
    overflow: hidden;
  }
  .our-wedding .wedding-head{
    text-align: center;
  }
  .wedding-head h4{
    font-family: "Jost", sans-serif;
    color: #dbbead;
    font-size: 1.8rem;
  }
  .wedding-head h1{
    font-family: "Sail";
    color: #000;
    font-size: 3.2rem;
    margin-top: 0.5rem;
  }

  /* .wedding-card-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  .wedding-card-row .wedding-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .wedding-card-row .wedding-card .card-image{
    border-radius: 50%;
    border: 1.2rem solid #f1f3ee;
    overflow: hidden;
  }
  .wedding-card-row .wedding-card img{
    width: 300px;
    border-radius: 50%;
    transition: all 0.2s ease;
  }
  .wedding-card-row .wedding-card .card-head{
    background-color: #a6aa9c;
    width: 83%;
    margin-top: 2rem;
    padding: 0.7rem 0 0.5rem 0;
  }
  .wedding-card-row .wedding-card .card-head h2{
    color: #fff;
    font-family: "Sail";
    text-align: center;
    font-size: 2.2rem;
  }
  .wedding-card-row .wedding-card .card-body{
    margin-top: 1.5rem;
    text-align: center;
  }
  .wedding-card-row .wedding-card .card-body p{
    text-align: center;
    font-family: "Jost", sans-serif;
    color: #5a5a5a;
    font-size: 1.17rem;
  }
  .wedding-card-row .wedding-card .card-body a{
    text-align: center;
    font-family: "Jost", sans-serif;
    color: #667151;
    font-size: 1.1rem;
    margin-top: 0.8rem;
  } */
  .contact{
    width: 50%;
    margin-left: 25%;
  }
  .contact form{
    margin-top: 3rem;
    border: 10px solid #666f52;
    padding: 2rem 2.5rem;
  }
  .contact label{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #dbbead;
    font-size: 1.2rem;
  }
  .contact .input-div input, .contact .input-div textarea, .contact .input-div select{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.6rem;
    outline: none;
    border: 2px solid #f3dfd4;
    font-size: 0.9rem;
    font-weight: 450;
  }
  .contact .input-div input:focus, .contact .input-div textarea:focus, .contact .input-div select:focus{
    border: 2px solid #ddb49e;
  }
  .contact .input-div input::placeholder, .contact .input-div textarea::placeholder, .contact .input-div select::placeholder{
    font-size: 0.9rem;
    color: #aeaeae;
  }
  .contact .input-div select{
    color: #aeaeae;
  }
  .contact .input-div select.active{
    color: #000;
  }
  .contact form button{
    width: 35%;
    margin-left: 32.5%;
    margin-top: 1rem;
    padding: 0.4rem 0;
    border: none;
    background-color: #667151;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.2s ease;
  }
  .contact form button:hover{
    background-color: #4e583c;
  }
  /* Our Wedding Section Ends Here */


  /* Blog Section Starts Here */
  .blog-bg{
    background-color: #f1f3ee;
    padding: 6rem 0 7rem 0;
    position: relative;
    overflow: hidden;
  }
  .blog .blog-head{
    text-align: center;
  }
  .blog-head h4{
    font-family: "Jost", sans-serif;
    color: #dbbead;
    font-size: 1.8rem;
  }
  .blog-head h1{
    font-family: "Sail";
    color: #000;
    font-size: 3.2rem;
    margin-top: 0.5rem;
  }

  .blog-card-row{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }
  .blog-card-row .blog-card{
    width: 32%;
    background-color: #fff;
    overflow: hidden;
    z-index: 10;
  }
  .blog-card-row .blog-image{
    width: 100%;
    overflow: hidden;
  }
  .blog-card-row .blog-image img{
    width: 100%;
    transition: all 0.3s ease;
    filter: grayscale(0);
  }
  .blog-card-row .blog-desc{
    padding: 1.7rem 1rem;
  }
  .blog-card-row .blog-desc p{
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    color: #5a5a5a;
    line-height: 1rem;
  }
  .blog-card-row .blog-desc h2{
    font-family: "Sail";
    color: #000;
    font-size: 2.1rem;
    transition: all 0.2s ease;
  }
  .blog-card-row .blog-desc a{
    text-decoration: none;
  }
  .blog-card-row .blog-desc h2:hover{
    color: #667151;
  }

  #blog-icon-1{
    position: absolute;
    top: 13%;
    left: -3rem;
    z-index: 0;
  }
  #blog-icon-2{
    position: absolute;
    top: -6rem;
    right: 0;
    z-index: 0;
  }
  /* Blog Section Ends Here */

  /* Footer Starts Here */
  footer{
    background-color: #2d241f;
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding-bottom: 0.3rem;
  }
  .foot-content{
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 4rem 0;
  }
  .foot-left{
    width: 25%;
  }
  .foot-right{
    width: 25%;
  }
  .foot-center{
    width: 50%;
  }
  .foot-content h2{
    font-family: "Sail";
    font-size: 2rem;
  }
  .foot-content a{
    text-decoration: none;
    color: #fff;
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    transition: all 0.1s ease;
  }
  .foot-content a:hover{
    text-decoration: underline;
  }
  .foot-content p{
    font-family: "Jost", sans-serif;
    font-size: 1.2rem;
  }
  footer .box{
    margin-top: 1.5rem;
  }
  .foot-left .box{
    display: flex;
    flex-direction: column;
  }
  .foot-center p{
    width: 70%;
    margin-left: 15%;
  }
  .foot-right p{
    margin-top: 1rem;
  }
  .foot-icon i{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    color: #dab098;
    border-radius: 50%;
    margin: 0 0.2rem;
    line-height: 3rem;
    font-size: 1.3rem;
    transition: all 0.3s ease;
  }
  .foot-icon i:hover{
    background-color: #667151;
    color: #fff;
  }
  .copyright {
    border-top: 2px solid #8f8f8f;
  }
  .copyright p{
    font-family: "Jost", sans-serif;
    margin-top: 1.1rem;
  }
  /* Footer Ends Here */

  /* Back to Top Section */
  .back-to-top{
    position: fixed;
    right: 0.2rem;
    bottom: -5rem;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }
  .back-to-top.show {
    bottom: 0.1rem;
  }
  .back-to-top i{
    color: #fff;
    font-size: 1.4rem;
    background-color: #667151bb;
    width: 2.6rem;
    height: 2.6rem;
    padding-top: 9.5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .back-to-top i:hover{
    background-color: #667151;
  }
/* Back to Top Section */